<%= form_for @contact do |form| %>
    <% if @contact.errors.any? %>
    <div id="error">
        <h2><%= pluralize(@contact.errors.count, "error") %> Error on save contact:</h2>
        <ul>
        <% @contact.errors.full_messages.each do |e| %>
            <li><%= e %></li>
        <% end %>
    </div>
    <% end %>
    
    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <h4>Address</h4>

    <%= form.fields_for :address do |a| %>
        <div class="field">
            <%= a.label :street %>
            <%= a.text_field :street %>
        </div>

        <div class="field">
            <%= a.label :number %>
            <%= a.text_field :number %>
        </div>

        <div class="field">
            <%= a.label :neighborhood %>
            <%= a.text_field :neighborhood %>
        </div>
    <% end %>
    
    <h4>Phones</h4>
    
    <div id='phones'>
        <%= form.fields_for :phones do |p| %>
            <%= render 'phone_fields', :f => p %>
        <% end %>
        <div class='links'>
            <%= link_to_add_association 'add phone', form, :phones %>
        </div>
    </div>
    
    </br>            

    <div class="actions">
        <%= form.submit 'Save' %>
    </div>
<% end %>