<h1>Contacts</h1>

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
    <% @contacts.each do |c| %>
        <tr>
            <td><%= c.id %></td>
            <td><%= c.name %></td>
            <td>
                <%= link_to 'Show', c %>
                <%= link_to 'Edit', edit_contact_path(c) %>
                <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>



<%= link_to 'New', new_contact_path %>

